# Laravel storage
/storage/*.key
/storage/pail
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/logs/*

# Jangan upload public storage symlink
/public/storage

# Node & build
/node_modules
/public/build
/public/hot

# Env files
.env
.env.backup
.env.production

# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed

# PHP / Tools
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# Auth
/auth.json

# Vendor
/vendor

# Laravel misc
Homestead.json
Homestead.yaml